<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué hacemos?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/img/logo.jpg">
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../assets/font/PlayfairDisplay-VariableFont_wght.ttf">
</head>

<body class="container fluid text-center">
    <header id="arriba">
        <div>
            <a href="../index.html"><img class="logo" src="../assets/img/logo.jpg" alt="Logo sitio"></a>
        </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="nosotros.html">Nosotros</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="galeria.html">Galería</a></li>
                    </ul>
                </li>
                <li class="item"><a href="quehacemos.html">¿Qué hacemos?</a></li>
                <li class="item"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Servicios y Productos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda vero earum fuga totam. Commodi
                voluptate quia saepe, mollitia dolorem natus corrupti totam eum blanditiis asperiores, delectus debitis
                porro magnam quis maxime sunt deserunt repellat minima accusantium praesentium vitae minus quas.
                Possimus fugiat explicabo beatae, esse officiis ipsa necessitatibus sunt dignissimos aliquid eum
                laudantium molestias sed quia dolore veniam itaque. Dolore, perferendis saepe dolor nam id quibusdam
                voluptates veniam dolorum cum ut sequi aliquid necessitatibus hic commodi asperiores cupiditate expedita
                dicta beatae minus a cumque vero esse libero et? Blanditiis perferendis vitae in corrupti accusantium
                atque ex praesentium dolor excepturi accusamus rem odio a, voluptas, velit ab magnam voluptates
                obcaecati labore suscipit ut quia, laborum laboriosam? Reprehenderit, accusantium. A eos nulla quibusdam
                aliquid exercitationem, vero maiores accusamus aliquam reprehenderit eligendi sequi dicta autem. Officia
                voluptatem, quos perspiciatis vitae ullam, nemo at ab beatae illum illo reiciendis maxime architecto
                voluptates magni ex error est cupiditate recusandae veniam explicabo. Maiores nihil nesciunt inventore
                reiciendis, delectus saepe optio soluta doloribus at numquam placeat omnis labore recusandae quasi cum.
                Sapiente quisquam dicta ipsam nulla ullam, velit omnis aut molestias deserunt accusantium dignissimos
                beatae suscipit, placeat repellat explicabo temporibus sed rem architecto praesentium expedita minima?
                Laborum!</p>
        </section>
        <section>
            <div class="row divimg">
                <div class="imgstyp card m-5 col-xl-6 col-md-6 col-cm-12 text-center" style="width: 18rem;">
                    <img src="../assets/img/manicuriaturno.jpg" class="imgtamaño card-img-top" alt="Turno">
                    <div class="card-body">
                        <h3 class="card-tille">Turno</h3>
                        <p class="card-text">Lorem ipsum derlr, sit amet consectetur adipisicing elit. Ab, facere.</p>
                        <a href="#" class="btn btn-primary">Solicitar turno</a>
                    </div>
                </div>
                <div class="imgstyp card m-5 col-xl-6 col-md-6 col-cm-12 text-center" style="width: 18rem;">
                    <img src="../assets/img/manicuriaproductos.jpg" class="imgtamaño card-img-top" alt="Kit">
                    <div class="card-body">
                        <h3 class="card-tille">Productos</h3>
                        <p class="card-text">Lorem ipsum derlr, sit amet consectetur adipisicing elit. Ab, facere.</p>
                        <a href="#" class="btn btn-primary">Comprar kit</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h3>Próximamente más...</h3>
        <a href="#arriba">Ir arriba</a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>